# Environment
.env
.env.*
!.env.example
!.env.production.example

# OS / editors
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Logs / temp
*.log
tmp/
temp/

# Laravel
apps/api/vendor/
apps/api/node_modules/
apps/api/.phpunit.result.cache
apps/api/storage/*.key
apps/api/storage/framework/cache/data/*
apps/api/storage/framework/sessions/*
apps/api/storage/framework/views/*
apps/api/storage/logs/*
apps/api/bootstrap/cache/*.php
apps/api/.env
apps/api/public/hot

# Angular
apps/web/node_modules/
apps/web/dist/
apps/web/.angular/
apps/web/coverage/
apps/web/.env*
